<?xml version="1.0" encoding="UTF-8"?>
 
<suite name="Welcome Test Suite">
   <test name="Welcome message service test">
    <classes>
      <class name="com.naveen.tests.WelcomeMessageTest" />
    </classes>
  </test>
  
   <test name="Secure HomePage test">
    <classes>
      <class name="com.naveen.tests.SecureHomePageTest" />
    </classes>
  </test>
    
   <test name="Index Controller test">
    <classes>
      <class name="com.naveen.tests.IndexControllerTest" />
    </classes>
  </test>
    
</suite>